%h1= @meter.name

%table.table
  %thead
    %th= t('.period')
    %th= t('.amount')
  %tbody
    - @timeline.rows.each do |row|
      %tr
        %td= row[:formatted_period]
        %td= format_watt_hours row[:meter]

= render 'timelines/time_chooser', start_date: start_date, end_date: end_date, period: period
