- content_for :breadcrumb do
  %li.breadcrumb-item= link_to Meter.model_name.human(count: 2), meters_path
  %li.breadcrumb-item= @meter.name
  %li.breadcrumb-item= Reading.model_name.human(count: 2)

%h1= I18n.t('titles.readings_for_meter', meter: meter.name)

.card.my-3.find-readings-around{ data: { meter_id: params[:meter_id] } }
  .card-header= t('.finder.title')
  .card-body
    .form
      .form-group
        %label= t('.finder.date')
        %input.form-control.finder-input-date{ type: 'date' }

      %button.btn.btn-secondary.finder-submit= t('.finder.submit')

  %table.table.finder-result-container.hidden
    %thead
      %tr
        %th
        %th= Reading.human_attribute_name(:time)
        %th= Reading.human_attribute_name(:value)
    %tr.finder-result-before
      %th= t('.finder.before')
      %td.finder-result-time -
      %td.finder-result-value -
    %tr.finder-result-after
      %th= t('.finder.after')
      %td.finder-result-time -
      %td.finder-result-value -

.row
  .col-lg-2
    = link_to({ controller: :readings, action: :new, meter_id: params[:meter_id] }, class: 'btn btn-primary my-3') do
      = I18n.t('buttons.create_model', model: Reading.model_name.human)

%table.table
  %thead
    %tr
      %th= Reading.human_attribute_name(:time)
      %th= Reading.human_attribute_name(:value)
  - @readings.each do |reading|
    %tr
      %td= I18n.l(reading.time, format: :short)
      %td
        = format_watt_hours(reading.value)
        - if (reading.value != reading.raw_value)
          %small.text-muted{title: t('.raw_value_hint')}= format_watt_hours(reading.raw_value)

= paginate(@readings)
