.panel.panel-default
  .panel-heading
    = meter.name
    .pull-right
      %a{href: edit_meter_path(meter), title: I18n.t('buttons.edit')}
        %i.fa.fa-pencil
  .panel-body
    %dl.dl-horizontal
      %dt= t('.latest_reading')
      %dd
        - if meter.latest_reading
          = format_watt_hours(meter.latest_reading.value)
        - else
          = '-'
      %dt= t('.daily_generation')
      %dd= format_watt_hours(meter.daily_generation)
      %dt= t('.current_power')
      %dd= format_watt(meter.current_power)

    .row
      .col-md-12
        .pull-right
          %a.btn.btn-default.btn-sm{href: meter_readings_path(meter)}
            = I18n.t('buttons.readings')
  .panel-footer
    - if meter.latest_reading
      = t('.refreshed_at', time: l(meter.latest_reading.time, format: :time))
      %abbr{title: l(meter.latest_reading.time)}
        = "(#{I18n.t('time_ago', time: time_ago_in_words(meter.latest_reading.time))})"
