.card.my-3
  .card-header
    = meter.name
    .float-right
      %a{href: edit_meter_path(meter), title: I18n.t('buttons.edit')}
        %i.fa.fa-pen
        .sr-only= I18n.t('buttons.edit')
  .card-body
    %dl.dl-horizontal
      %dt= t('.latest_reading')
      %dd
        - if meter.latest_reading
          = format_watt_hours(meter.latest_reading.value)
        - else
          = '-'
      %dt= t(".daily_energy.#{meter.meter_type}")
      %dd= format_watt_hours(meter.daily_energy)
      %dt= t('.current_power')
      %dd= format_watt(meter.current_power)

  .card-footer
    .row
      .col-lg-6
        - if meter.latest_reading
          = t('.refreshed_at', time: l(meter.latest_reading.time, format: :time))
          %abbr{title: l(meter.latest_reading.time)}
            = "(#{I18n.t('time_ago', time: time_ago_in_words(meter.latest_reading.time))})"
      .col-lg-6
        .float-right
          %a.btn.btn-primary.btn-sm{href: timeline_meter_path(meter)}
            = t('.timeline_button')
          %a.btn.btn-secondary.btn-sm{href: meter_readings_path(meter)}
            = I18n.t('buttons.readings')
