.card
  .card-header
    - if @meter.new_record?
      = I18n.t('titles.new_model', model: Meter.model_name.human)
    - else
      = I18n.t('titles.edit_model', model: Meter.model_name.human)
  .card-body
    = form_for @meter do |f|
      .form-group
        = f.label :site_id
        = f.select :site_id, site_options(@meter.site_id), {}, class: 'form-control'

      .form-group
        = f.label :meter_type
        = f.select :meter_type, enum_options(Meter, :meter_type, @meter.meter_type), {}, class: 'form-control'

      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :serial
        = f.text_field :serial, class: 'form-control'

      .form-group
        = f.label :current_duration
        .input-group
          = f.text_field :current_duration, class: 'form-control', type: 'number', value: @meter.current_duration.parts[:minutes]
          .input-group-append
            .input-group-text min

      .form-check.mb-4
        = f.check_box :active, class: 'form-check-input'
        = f.label :active, class: 'form-check-label'

      = f.submit I18n.t('buttons.save'), class: 'btn btn-success'

- unless @meter.new_record?
  .card.my-3.border-danger
    .card-header.bg-danger.text-white
      = I18n.t('titles.destroy_model', model: Meter.model_name.human)
    .card-body
      = link_to I18n.t('buttons.delete'), meter_path(@meter),
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { confirm: I18n.t('confirm_delete_named', name: @meter.name) }
