%h1= Inverter.model_name.human(count: 2)

.pull-right
  %a.btn.btn-primary{href: new_inverter_path}
    = I18n.t('buttons.create_model', model: Inverter.model_name.human)

%table.table
  %thead
    %tr
      %th= Inverter.human_attribute_name(:name)
      %th= Inverter.human_attribute_name(:serial)
      %th= Inverter.human_attribute_name(:capacity)
      %th= I18n.t('action_column')
  - @inverters.each do |inverter|
    %tr
      %td= inverter.name
      %td= inverter.serial
      %td= format_watt_peak(inverter.capacity)
      %td
        %a.btn.btn-default.btn-sm{href: edit_inverter_path(inverter)}
          = I18n.t('buttons.edit')
        = link_to I18n.t('buttons.delete'), inverter_path(inverter), method: :delete, class: 'btn btn-danger btn-sm'
