%h1= @site.name

%table.table
  %thead
    %th= t('.period')
    %th= t('.generated')
    %th= t('.imported')
    %th= t('.exported')
    %th= t('.used')
  %tbody
    - @timeline.rows.each do |row|
      %tr
        %td= row[:formatted_period]
        %td= format_watt_hours row[:generated]
        %td= format_watt_hours row[:imported]
        %td= format_watt_hours row[:exported]
        %td= format_watt_hours((row[:generated] + row[:imported]) - row[:exported])

= render 'timelines/time_chooser', start_date: start_date, end_date: end_date, period: period
