.card.my-3
  .card-header
    = site.name
    .float-right
      %a{href: edit_site_path(site), title: I18n.t('buttons.edit')}
        %i.fa.fa-pen
        .sr-only= I18n.t('buttons.edit')

  .card-body
    %dl.dl-horizontal
      %dt= t('.daily_energy_draw')
      %dd
        = format_watt_hours(site.daily_energy_draw)
        = surround '(', ')' do
          %a{ href: "#energyDetails-#{site.id}", data: { toggle: 'collapse' } } Details
        .collapse{ id: "energyDetails-#{site.id}" }
          %table.table.table-bordered
            %tr
              %th= t('.daily_energy_generation')
              %td= format_watt_hours(site.daily_energy_generation)
            %tr
              %th= t('.daily_energy_import')
              %td= format_watt_hours(site.daily_energy_import)
            %tr
              %th= t('.daily_energy_export')
              %td= format_watt_hours(site.daily_energy_export)
      %dt= t('.current_power_draw')
      %dd
        = format_watt(site.current_power_draw)
        = surround '(', ')' do
          %a{ href: "#powerDetails-#{site.id}", data: { toggle: 'collapse' } } Details
        .collapse{ id: "powerDetails-#{site.id}" }
          %table.table.table-bordered
            %tr
              %th= t('.current_generator_power')
              %td= format_watt(site.current_generator_power)
            %tr
              %th= t('.current_grid_import_power')
              %td= format_watt(site.current_grid_import_power)
            %tr
              %th= t('.current_grid_export_power')
              %td= format_watt(site.current_grid_export_power)
  .card-footer
    .row
      .col-lg-6
        - if site.latest_reading
          = t('.refreshed_at', time: l(site.latest_reading.time, format: :time))
          %abbr{title: l(site.latest_reading.time)}
            = "(#{I18n.t('time_ago', time: time_ago_in_words(site.latest_reading.time))})"
      .col-lg-6
        .float-right
          %a.btn.btn-primary.btn-sm{href: timeline_site_path(site)}
            = t('.timeline_button')
          %a.btn.btn-secondary.btn-sm{href: site_meters_path(site)}
            = I18n.t('buttons.meters')
          %a.btn.btn-secondary.btn-sm{href: costs_timeline_site_path(site), title: I18n.t('buttons.cost_gain')}
            €
          - if site.external_link.present?
            %a.btn.btn-secondary.btn-sm{href: site.external_link, target: '_blank'}
              %i.fa.fa-info{title: t('.external_link')}
                .sr-only= t('.external_link')
