.panel.panel-default
  .panel-heading
    - if @site.new_record?
      = I18n.t('titles.new_model', model: Site.model_name.human)
    - else
      = I18n.t('titles.edit_model', model: Site.model_name.human)
  .panel-body
    = form_for @site do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      = f.submit I18n.t('buttons.save'), class: 'btn btn-success'

- unless @site.new_record?
  .panel.panel-danger
    .panel-heading
      = I18n.t('titles.destroy_model', model: Site.model_name.human)
    .panel-body
      = link_to I18n.t('buttons.delete'), site_path(@site),
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { confirm: I18n.t('confirm_delete_named', name: @site.name) }
