.card
  .card-header
    - if @site.new_record?
      = I18n.t('titles.new_model', model: Site.model_name.human)
    - else
      = I18n.t('titles.edit_model', model: Site.model_name.human)
  .card-body
    = form_for @site do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :external_link
        = f.text_field :external_link, type: 'url', class: 'form-control'

      = f.submit I18n.t('buttons.save'), class: 'btn btn-success'

- unless @site.new_record?
  .card.my-3.border-danger
    .card-header.bg-danger.text-white
      = I18n.t('titles.destroy_model', model: Site.model_name.human)
    .card-body
      = link_to I18n.t('buttons.delete'), site_path(@site),
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { confirm: I18n.t('confirm_delete_named', name: @site.name) }
